<div style="height: auto; width: 100%;" class = "row col-12" >

    <!--<div class = "col-1" ></div>-->
    <div class = "ml-xl-5 mt-5 mb-auto" >
      <h1>プロフィール情報</h1>
      <div class = "row" >
        <%= image_tag @customer.get_profile_image(100,100), class: "ml-xl-5 mr-5" %>
        <table class = "ml-5" >
          <tr>
            <th>フォロワー</th>
            <td><%= link_to @customer.followers.count, customer_followers_path(@customer) %></td>
          </tr>
          <tr>
            <th>フォロー中</th>
            <td><%= link_to @customer.followings.count, customer_followings_path(@customer) %></td>
          </tr>
        </table>

      </div>

      <table class = "ml-5">
        <tbody>
          <tr>
            <th style = "height: 100px; width: 200px;" ><h3>ユーザー名</h3></th>
            <td><h4><%= @customer.name %></h4></td>
          </tr>
          <tr>
            <th style = "height: 100px; width: 200px;" ><h3>好きなゲーム</h3></th>
            <td><h4><%= @customer.main_game %></h4></td>
          </tr>
          <tr>
            <th style = "height: 100px; width: 200px;" ><h3>自己紹介</h3></th>
            <td><h4><%= @customer.introduction %></h4></td>
          </tr>
          <tr>
            <th></th>
            <td>
              <% if current_customer == @customer %>
              <%= link_to '編集へ', edit_customer_path %>
              <% else %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th></th>
            <td>
              <% if current_customer != @customer %>
                <% if current_customer.following?(@customer) %>
                  <%= link_to "フォロー外す", customer_relationships_path(@customer.id), method: :delete, class: "btn btn-info mb-5" %>
                <% else %>
                  <%= link_to "フォローする", customer_relationships_path(@customer.id), method: :post, class: "btn btn-info mb-5" %>
                <% end %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

        <% unless @customer.id == current_customer.id %>
          <% if (current_customer.following? @customer) && (@customer.following? current_customer)  %>
          <% if @isRoom == true %>
            <p class="user-show-room"><a href="/public/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
          <% else %>
            <%= form_for @room do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :customer_id, value: @customer.id %>
              <% end %>
              <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
            <% end %>
          <% end %>
          <% end %>
        <% end %>

        <% if @customer.id == current_customer.id %>
          <%= link_to "退会", check_customers_path %>
        <% end %>

    </div>

    <div class = "col-2" ></div>

    <div>
      <h2 class = "mt-xl-5 ml-5">投稿一覧</h2>

        <% @posts.each do |a| %>
          <table>
            <tbody>
              <th><%= image_tag a.image, size: "100x100", class: "mt-3" %></th>
              <th>
                <div class = "d-inline-block text-truncate", style = "width: 100px;" >
                  <%= link_to a.post_introduction, post_path(a) %>
                </div>
              </th>
            </tbody>
          </table>
        <% end %>
    </div>

</div>