<h1>グループ編集</h1>

<%= form_with model: @group, url: customer_group_path, local: true do |g| %>
  <%= g.label :グループ名 %>
  <%= g.text_field :group_name, class: 'form-control' %>

  <%= g.label :主なゲーム %>
  <%= g.text_field :main_game, class: 'form-control' %>

  <%= g.label :紹介文 %>
  <%= g.text_field :beginning, class: 'form-control' %>

  <%= g.label :グループ画像 %>
  <%= g.file_field :group_image, class: "form-control", accept: "image/*" %>

  <%= g.submit class: 'btn btn-info' %>
<% end %>