
  <h2><%= @group.group_name %>のトークルーム</h2>

<%#= @group_messages %>

<%= link_to "一覧に戻る", groups_path(@group) %>

<div class="container">
  <% if @group_messages.present? %>
    <% @group_messages.each do |m| %>
      <% if current_customer.id == m.customer.id %>
        <div class="row justify-content-end mb-2">
          <div class="col-auto">
            <div class="card bg-primary text-white">
              <div class="card-body p-2">
                <p class="card-text"><%= m.body %></p>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row justify-content-start mb-2">
          <div class="col-auto">
            <div class="card bg-light">
              <div class="card-body p-2">
                <%= m.customer.name %>
                <p class="card-text"><%= m.body %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<%#= debug @message %>
<%#= debug params %>


<%= form_with(model: [@group, @group_message], local: true) do |f| %>
  <div class="text-center">
    <%= f.text_field :body, placeholder: "メッセージを入力してください", size: 50, class: "form-text-field" %>

    <%= f.hidden_field :customer_id, value: @customer.id %>
    <%= f.hidden_field :group_id, value: @group.id %>

    <% if @group.present? %>
    <% end %>

    <%= f.submit "送信", class: 'form-submit' %>
  </div>
<% end %>
