<div class="" style="height: calc(100vh - 100px - 100px);">
  <div class="justify-content-center align-items-center">
    <table class="table table-striped table-bordered mt-5">
      <thead>
        <tr>
          <th></th>
          <th>グループ名</th>
          <th>紹介文</th>
          <th>グループ人数</th>
          <th>グループ参加者</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= image_tag @group.get_group_image(100, 100) %>
          </td>
          <td>
            <%= @group.group_name %>
          </td>
          <td>
            <%= @group.beginning %>
          </td>
          <td>
            <%= @group.group_customers.count %>
          </td>
          <td>
            <div class="column">
              <% @group.group_customers.each do |group_customer| %>
                <div>
                  <%= link_to group_customer.customer.name, customer_path(group_customer.customer_id) %>
                </div>
              <% end %>
            </div>
          </td>
          <td>

            <% if @other_customers.exists? %>
              <%= form_with model: @customer, url: group_invitation_path(@group), method: :post, local: true do |f| %>
                  <% if @group.customers.include?(current_customer) %>
                    <%#= f.hidden_field :visitor_id, value: notification.customer %>
                    <%= f.collection_select :customer_id, @other_customers, :id, :name %>
                    <%= f.submit "招待する" %>
                  <% else %>
                  <% end %>
              <% end %>
            <% end %>

            <% if @group.owner_id == current_customer.id %>
              <%= link_to '編集', edit_customer_group_path(@group) %>
            <% elsif @group.group_customers.exists?(customer_id: current_customer.id) %>
              <%= link_to "このグループを抜ける", customer_group_group_customer_path(current_customer, @group), method: :delete %>
            <% else %>
              <%#= link_to "このグループに参加する", customer_group_group_customers_path(current_customer, @group), method: :post %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table><br />

      <%= notice %><br />

    <% if @group.group_customers.exists?(customer_id: current_customer.id) %>
      <%= link_to "チャットへ", group_room_path(group_id: @group), class: "btn btn-primary btn-lg user-show-chat" %>
    <% else %>
    <% end %>

    <%# if @group.group_customers.exists?(customer_id: current_customer.id) %>
      <%# if @isRoom %>
        <!--<p class="user-show-room">-->
        <!--  <a href="/rooms/<%#= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>-->
        <!--</p>-->
      <%# else %>
        <%#= form_for @room do |f| %>
          <%#= f.hidden_field :customer_id, value: current_customer.id %>
          <%#= f.submit "チャットを始める", class: "btn btn-primary btn-lg user-show-chat" %>
        <%# end %>
      <%#end %>
    <%# end %>

  </div>
</div>
