<div  class="" style="height: 75vh; width: 100%;" >
  <h3 class = "m-4" >投稿の編集</h3>
  <div class = "ml-5" >
    <div class = "mb-3" >
      <span>ログイン中のユーザー:<%= current_customer.name %></span>
    </div>
    <%= form_for(@post, url: post_path(@post)) do |f| %>
      <div class = "mb-3" >
        <%= f.label :画像 %><br>
        <%= f.file_field :image, accept: "image/*,movie/*", class: "form-control", autofocus: true, :placeholder => "#{@post.image}", style: "width: 350px;" %>
      </div>
      <div>
        <%= f.label :説明文 %><br>
        <%= f.text_area :post_introduction, :placeholder => "#{@post.post_introduction}" %>
      </div>
      <div>
        <%= f.submit "更新する" %>
      </div>
    <% end %>
  </div>
</div>