<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="card-header text-center">新規</h1>

      <div >
        <%= notice %>
      </div>

      <%= form_with(model: @post, local: true) do |f| %>
        <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
            <ul>
              <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group row">
          <label for="post_image" class="col-sm-3 col-form-label"><h4>画像</h4></label>
          <div class="col-sm-9">
            <%= f.file_field :image, accept: "image/*,movie/*", class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <label for="post_introduction" class="col-sm-3 col-form-label"><h4>説明</h4></label>
          <div class="col-sm-9">
            <%= f.text_area :post_introduction, placeholder: "ここに説明文を記述します", class: "form-control", style: "height: 150px;" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-9 offset-sm-3">
            <%= f.submit "新規登録", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
