<div class = "m-auto", style="height: calc(100vh - 100px - 100px);" >

  <div class = "row" >
    <h2 class = "text-center mt-3 mr-5" >投稿詳細</h2>
    <h5><%= link_to "ユーザー詳細ページへ", admins_customer_path(@post.customer.id) %></h5>
  </div>

  <div class = "row col-12" >
    <div class = "col-1" ></div>
    <div class = "column" >
      <%= image_tag @post.image, size:"350x350", class: "mt-auto mb-auto" %>
      <p class = "mt-4" >コメント件数：<%= @post.comments.count %></p>
      <%= @post.favorites.count %>いいね
    </div>
    <div class = "col-1" ></div>
    <div class = "column" >
      <h5 class = "d-flex align-items-center" ><%= @post.post_introduction %></h5>
      <% @post.comments.each do |post_comment| %>
        <div class = "column" >
          <%= post_comment.customer.name %>
          <%= post_comment.comment %>
        </div>
      <% end %>
    </div>
  </div>

</div>