<div style="height: calc(100vh - 100px - 100px); width: 1200px;" >

  <div class = "text-center m-auto" >
    <h2>新規登録</h2>

    <%= form_with model: @customer, url: customer_registration_path, method: :post, local: true do |f| %>
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :ユーザー名 %><br />
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :自己紹介 %><br />
        <%= f.text_field :introduction %>
      </div>

      <div class="field">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :パスワードの確認 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <%#= render "devise/shared/links" %>
  </div>

</div>