<div class = "alert-info row col-12 width: 100%" >
    <% if admin_signed_in? %>

        <%= image_tag 'logo.png', size: '206x125' %>
        <div class = "ml-5 mr-5" ></div>
        <%= link_to 'トップ', root_path, class: "btn btn-light ml-5 mt-auto mb-auto" %>
        <div class = "col-1" ></div>
        <%= link_to '投稿一覧', admins_posts_path, class: "btn btn-light ml-5 mt-auto mb-auto" %>
        <div class = "col-1" ></div>
        <%= link_to 'ユーザー一覧', admins_customers_path, class: "btn btn-light  ml-5 mt-auto mb-auto" %>
        <div class = "col-1" ></div>
        <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-light ml-5 mt-auto mb-auto" %>

    <% elsif customer_signed_in? %>

        <%= image_tag 'logo.png', size: '206x125' %>
        <div class = "ml-5 mr-5" ></div>
        <%= link_to root_path, class: "btn btn-light ml-4 mt-auto mb-auto" do %>
            <i class="fa-solid fa-angle-up"></i>トップ
        <% end %>
        <%#= link_to 'トップ', root_path, class: "btn btn-light ml-4 mt-auto mb-auto" %>
        <div class = "col-1" ></div>
        <%= link_to about_path, class: "btn btn-light ml-4 mt-auto mb-auto" do %>
            <i class="fa-solid fa-house"></i>ホーム
        <% end %>
        <div class = "col-1" ></div>
        <%= link_to public_posts_path, class: "btn btn-light ml-4 mt-auto mb-auto" do %>
            <i class="fa-solid fa-list"></i>一覧
        <% end %>
        <div class = "col-1" ></div>
        <%= link_to customer_path(current_customer), class: "btn btn-light ml-4 mt-auto mb-auto" do %>
            <i class="fa-solid fa-user"></i>マイページ
        <% end %>
        <div class = "col-1" ></div>
        <%= link_to destroy_customer_session_path, method: :delete, class: "btn btn-light ml-4 mt-auto mb-auto" do %>
            <i class="fa-solid fa-right-from-bracket"></i>ログアウト
        <% end %>
        <%#= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "btn btn-light ml-4 mt-auto mb-auto" %>

    <% else %>

        <%= image_tag 'logo.png', size: '206x125' %>
        <div class = "col-1 ml-5" ></div>
        <%= link_to root_path, class: "btn btn-light ml-5 mt-auto mb-auto" do %>
            <i class="fa-solid fa-angle-up"></i>トップ
        <% end %>
        <div class = "col-1" ></div>
        <%= link_to about_path, class: "btn btn-light ml-5 mt-auto mb-auto" do %>
            <i class="fa-solid fa-house"></i>ホーム
        <% end %>
        <%#= link_to 'ホーム', about_path, class: "btn btn-light ml-5 mt-auto mb-auto" %>
        <div class = "col-1" ></div>
        <%= link_to new_customer_session_path, class: "btn btn-light ml-5 mt-auto mb-auto" do %>
            <i class="fa-solid fa-arrow-right-to-bracket"></i>ログイン
        <% end %>
        <div class = "col-1" ></div>
        <%= link_to new_customer_registration_path, class: "btn btn-light ml-5 mt-auto mb-auto" do %>
            <i class="fa-regular fa-address-card"></i>新規登録
        <% end %>
        <%#= link_to '新規登録', new_customer_registration_path, class: "btn btn-light ml-5 mt-auto mb-auto" %>

    <% end %>

</div>